// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.icono{
    cursor: pointer;
}
.card{
border-radius: 0px !important;
}

.img-sm{
    height: 120px !important;
    width: 120px;
}
