// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.imagen{
    background-image: url(/storage/pM1JOQ8JoZ2zgHpebLgrfnst59nxkvMUPB8WbV0e.gif);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat ;
}

.barra-transparente{
    background-color: #192b2b94
}
