// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.icono{
    cursor: pointer;
}
.card{
border-radius: 0px !important;
}

.img-sm{
    height: 120px !important;
    width: 120px;
}
.img-md{
    height: 170px !important;
    width: 284px;
}
.card {
    height: 23rem !important;
}
.oculto{
    color:#2c3e50 !important;
    cursor: default;
}
.sombra{
    box-shadow: 0px 0px 10px 2px #95e2fff2;
}

